.container{
    width: fit-content;
    height: 420px;
    margin: auto;
    text-align: center;
    border: 2px solid #333;
    background-color: rgba(0, 0, 0, 0.637);
    border-radius: 5px;
}
table{
    width: 100%;
    height: 250px;
}
button{
    
    background-color: #333;
    width: 50px;
    height: 40px;
    margin-bottom: ;
    border: 2px solid #555;
    border-radius: 5px;
    font-size: 23px;
}
input{
    border: 2px solid #555;
    border-radius: 5px;
    max-height: 35px;
    max-width: 250px;
    margin-bottom: 35px;
    margin-left: 10px;
    margin-right: 10px;
    font-size: 34px;
}
h1{
    margin-top: 10px;
    margin-bottom: 20px;
}
button:hover{
    background-color: darkslategrey;
}
button:active{
    background-color: #00404f;
}

.errorMsg{
    font-size: 30px;
    color:red;
    width: fit-content;
    margin: auto;
}
.errorMsg{
    display: none;
}

.errorBox{
    width: fit-content;
    height: 40px;
    margin: auto;
    margin-bottom: 0px;
    margin-top: 35px;
}